<div class="container">
  <h3 class="text-center text-danger">Template Form</h3>
  <br />
  <div class="row">
    <div class="col-xs-12">
      <form #myform="ngForm" (ngSubmit)="onSubmit(myform)">
        <div class="row">
          <div class="col-sm-4 form-group">
            <label for="courseName">Course Name</label>
            <input
              type="text"
              id="courseName"
              class="form-control"
              name="courseName"
              ngModel
            />
          </div>
          <div class="col-sm-4 form-group">
            <label for="courseDesc">Course Description</label>
            <input
              type="text"
              id="courseDesc"
              class="form-control"
              name="courseDesc"
              ngModel
            />
          </div>
          <div class="col-sm-4 form-group">
            <label for="courseAmount">Course Amount</label>
            <input
              type="number"
              id="courseAmount"
              class="form-control"
              name="courseAmount"
              ngModel
            />
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <button class="btn btn-success" type="submit">Add Data</button>
          </div>
        </div>
      </form>
      {{ myform.value | json }}
    </div>
  </div>
</div>
