<div class="container">
  <nav class="navbar navbar-default">
    <ul class="nav navbar-nav">
      <li>
        <a routerLink="list">List-Students</a>
      </li>
      <li>
        <a routerLink="create">Create Student</a>
      </li>
      <li>
        <a routerLink="like">Like Component</a>
      </li>
      <li>
        <a routerLink="cricket">Cricket Component</a>
      </li>
      <li>
        <a routerLink="link-1">Template Form</a>
      </li>
      <li>
        <a routerLink="link-2">Reactive Form</a>
      </li>
      <li>
        <a routerLink="service">Services</a>
      </li>
    </ul>
  </nav>

  <router-outlet></router-outlet>
</div>
